@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: kleine Ergänzungen */
html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #0a0a0a; /* dunkler Hintergrund fürs TV-Display */
  color: white;
  font-family: system-ui, sans-serif;
}

#root > div > div.grid.grid-cols-3.h-\[85vh\] > div:nth-child(2) > div.relative.z-10.h-full.flex.flex-col.items-start.justify-start.px-8.py-8 > div > ul > li{
  padding-right: 5px;
}

/* Fallback für alte Browser (Smart-TVs, Tizen etc.) */
@supports not (display: grid) {
  .grid {
    display: flex !important;
    flex-wrap: nowrap;
  }
  .grid > * {
    flex: 1 0 33.333%;
  }
}